<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="Volver" defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>Registro</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="register-container">
            <!------------- Nombre -------------->
            <ion-item lines="none" class="animate-animated animate__fadeInDown">
                <ion-label position="floating">Nombre</ion-label>
                <ion-input type="text" formControlName="name"></ion-input>
            </ion-item>

            <ion-text color="danger" *ngIf="form.get('name')?.touched && form.get('name')?.invalid">
                <small *ngIf="form.get('name')?.errors?.['required']">El nombre es requerido</small>
                <small *ngIf="form.get('name')?.errors?.['minlength']">El nombre debe tener al menos 3 caracteres</small>
            </ion-text>
            
            <!------------- Correo Electronico -------------->
            <ion-item lines="none" class="animate-animated animate__fadeInDown">
                <ion-label position="floating">Correo</ion-label>
                <ion-input type="email" formControlName="email"></ion-input>
            </ion-item>

            <ion-text color="danger" *ngIf="form.get('email')?.touched && form.get('email')?.invalid">
                <small *ngIf="form.get('email')?.errors?.['required']">El correo es requerido</small>
                <small *ngIf="form.get('email')?.errors?.['email']">El correo no es válido</small>
            </ion-text>

            <!------------- Rut -------------->
            <ion-item lines="none" class="animate-animated animate__fadeInDown">
                <ion-label position="floating">Rut</ion-label>
                <ion-input type="text" formControlName="rut"></ion-input>
            </ion-item>

            <ion-text color="danger" *ngIf="form.get('rut')?.touched && form.get('rut')?.invalid">
                <small *ngIf="form.get('rut')?.errors?.['required']">El rut es requerido</small>
                <small *ngIf="form.get('rut')?.errors?.['minlength']">El rut debe tener al menos 8 caracteres</small> 
                <small *ngIf="form.get('rut')?.errors?.['maxlength']">El rut debe tener máximo 12 caracteres</small>
            </ion-text>
            <!------------- Contraseña -------------->
            <ion-item lines="none" class="animate-animated animate__fadeInDown">
                <ion-label position="floating">Contraseña</ion-label>
                <ion-input type="password" formControlName="password"></ion-input>
            </ion-item>

            <ion-text color="danger" *ngIf="form.get('password')?.touched && form.get('password')?.invalid">
                <small *ngIf="form.get('password')?.errors?.['required']">La contraseña es requerida</small>
                <small *ngIf="form.get('password')?.errors?.['minlength']">La contraseña debe tener al menos 6 caracteres</small>
            </ion-text>

            <!------------- Confirmar Contraseña -------------->
            <ion-item lines="none" class="animate-animated animate__fadeInDown">
                <ion-label position="floating">Confirmar contraseña</ion-label>
                <ion-input type="password" formControlName="confirmPassword"></ion-input>
            </ion-item>

            <ion-text color="danger" *ngIf="form.get('confirmPassword')?.touched && form.get('confirmPassword')?.hasError('required')">
                <small>La confirmación de la contraseña es requerida</small>
            </ion-text>
            
            <ion-text color="danger" *ngIf="form.touched && form.hasError('mismatch')">
                <small>Las contraseñas no coinciden</small>
            </ion-text>

            <!------------- Rol -------------->
            <ion-item>
                <ion-label>Rol</ion-label>
                <ion-select formControlName="role" placeholder="Seleccione">
                  <ion-select-option value="Alumno">Alumno</ion-select-option>
                  <ion-select-option value="Docente">Docente</ion-select-option>
                </ion-select>
              </ion-item>              

            <!------------- Boton de Registro -------------->
            <ion-button type="submit" expand="block" class="animate-animated animate__fadeInUp animate__delay-2s" type="submit" [disabled]="form.invalid">
                Registrarse
                <ion-icon slot="end" name="person-add-outline"></ion-icon>
            </ion-button>
        </div>
    </form>
</ion-content>
