<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- Botón para retroceder -->
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Código QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="qr-container" *ngIf="codigoQR">
    <!-- Mostrar el código QR solo si 'codigoQR' tiene un valor -->
    <qrcode [qrdata]="codigoQR"></qrcode>

    <!-- Mostrar la fecha y la sección -->
    <div class="details">
      <p>Fecha: {{ fecha }}</p>
      <p>Sección: {{ seccion }}</p>
    </div>
  </div>
</ion-content>
