.reports-container {
    padding: 20px;
  }
  ion-button {
    z-index: 11;  /* Asegura que el botón esté por encima de todos los demás elementos */
  }
  h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  ion-item {
    --background: #fff;
    border-radius: 8px;
    margin: 10px 0;
  }
  
  ion-label h2 {
    font-size: 18px;
    font-weight: bold;
  }
  
  ion-label p {
    font-size: 16px;
  }
  