<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="navigateToEditProfile()">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile-container">
    <ion-avatar class="profile-avatar">
      <img alt="Foto de Perfil" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <h2>Usuario</h2>
    <p>usuarioprueba&#64;user.com</p>
    
    <ion-button expand="block" fill="outline" (click)="navigateToEditProfile()">Editar Perfil</ion-button>
    
    <ion-list>
      <ion-item lines="none" (click)="presentLogoutConfirm()">
        <ion-label>Cerrar Sesión</ion-label>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
    </ion-list>
  </div>

  <app-tabs></app-tabs>
</ion-content>
