<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Volver" defaultHref="/"></ion-back-button>
  </ion-buttons>
    <ion-title>Restablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <div class="reset-container">
    <ion-item lines="full">
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
      <ion-icon name="mail" slot="end"></ion-icon>
    </ion-item>
    <ion-text color="danger" *ngIf="resetPasswordForm.get('email')?.touched && resetPasswordForm.get('email')?.invalid">
      <small *ngIf="resetPasswordForm.get('email')?.errors?.['required']">El correo es requerido</small>
      <small *ngIf="resetPasswordForm.get('email')?.errors?.['email']">El correo no es válido</small>
    </ion-text>

    <ion-button expand="block" type="submit" [disabled]="resetPasswordForm.invalid">
      Enviar enlace de restablecimiento
    </ion-button>
    <p>Ingrese su correo electrónico registrado y le enviaremos un enlace para restablecer su contraseña. Verifique su bandeja de entrada y siga las instrucciones.</p>
  </div>
  </form>
</ion-content>
