<ion-header>
  <ion-toolbar>
    <ion-title>RegistrAPP</ion-title>
    <ion-buttons slot="end">
     
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="docente-container">
    <h2>Generar un código de asistencia</h2>
    <p>Muestra a los estudiantes el código para que puedan registrarse en la clase.</p>
    <ion-button expand="block" color="primary">Generar código</ion-button>
    
    <h3>Informes de asistencia</h3>
    <ion-list>
      <ion-item>
        <ion-label>Clase de 4to grado</ion-label>
        <p>Asistencia del lunes, 2 de enero</p>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>Clase de 4to grado</ion-label>
        <p>Asistencia del martes, 3 de enero</p>
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-item>
    </ion-list>
  </div>
  <app-tabs></app-tabs>
</ion-content>
