<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home-alumno"></ion-back-button>
    </ion-buttons>
    <ion-title>Escanear QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="block" (click)="escanear()">
    Activar Cámara para Escanear
  </ion-button>
  <div *ngIf="alumnoAsistencia">
    <p><strong>Sección:</strong> {{ alumnoAsistencia.seccion }}</p>
    <p><strong>asignatura:</strong> {{ alumnoAsistencia.asignatura }}</p>
    <p><strong>Fecha:</strong> {{ alumnoAsistencia.fecha }}</p>
  </div>
  <ion-button expand="block" (click)="marcarAsistencia()" [disabled]="!alumnoAsistencia">
    Registrar Asistencia
  </ion-button>
</ion-content>
