ion-content {
    padding: 20px;
  }
  
  ion-list {
    margin-bottom: 20px;
    background-color: #1D1C26;
  }
  
  ion-item {
    margin-bottom: 15px;
    border-radius: 10px;
  }
  
  .profile-avatar {
    width: 60px;
    height: 60px;
    margin-right: 15px;
  }
  
  ion-button {
    --border-radius: 10px;
    --transition: none;  /* Desactiva la animación en los botones */
    --background: #6a11cb;
  }
  
  ion-label {
    font-size: 14px;
    color: #000;
  }
  
  ion-input {
    font-size: 14px;
    color: #000;
  }
  