<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenido, Estudiante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="alumno-container">
    <h2>Opciones</h2>
    <p>Escanea tu código QR para registrarte en la clase o revisa tu historial de asistencia.</p>

    <!-- Botón para escanear el código QR -->
    <ion-button expand="block" (click)="escanearCodigoQR()">
      Escanear Código QR
    </ion-button>

    <!-- Enlace al historial de asistencia -->
    <ion-button expand="block" (click)="irAlHistorialAsistencia()">
      Ver Historial de Asistencia
    </ion-button>
  </div>
  
  <!-- Incluye el TabsComponent -->
  <app-tabs></app-tabs>
</ion-content>
