ion-content {
  --background: #1D1C26;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  animation: fadeIn 1s ease-in-out;
}

ion-title {
  font-size: 28px;
  font-weight: 700;
  color: #ffffff; /* Color de texto blanco */
  text-align: center;
  background-color: #6a11cb; /* Fondo sólido morado */
  padding: 15px;
}

.welcome-container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  animation: slideInUp 1s ease-in-out;
}

.welcome-message {
  font-size: 24px;
  font-weight: bold;
  color: #ECEAEB;
  margin-bottom: 10px;
}

.sub-message {
  font-size: 16px;
  color: #ECEAEB;
  margin-bottom: 30px;
}

ion-button {
  margin-top: 10px;
  width: 100%;
  animation: fadeIn 1.5s ease-in-out;
  color: white;
  --background: #5A30B0;
  border-radius: 5px;
}

ion-button:hover {
  --background: #9373D9;
}

.terms-message {
  margin-top: 20px;
  font-size: 12px;
  color: #ECEAEB;
  animation: fadeIn 2s ease-in-out;
}

.terms-message a {
  color: #B291D8;
  text-decoration: none;
}

.terms-message a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .welcome-message {
    font-size: 20px;
  }

  .sub-message {
    font-size: 14px;
  }

  ion-button {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .welcome-message {
    font-size: 18px;
  }

  .sub-message {
    font-size: 12px;
  }

  ion-button {
    font-size: 12px;
  }
}

/* Animaciones personalizadas */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
