<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  
  <div class="welcome-container">
    <h1 class="welcome-message">RegistrAPP</h1>
    <h1 class="welcome-message">Tu asistencia en el celular</h1>
    <p class="sub-message">Inicia sesión o regístrate para empezar a usar Registrapp.</p>
    
    <ion-button expand="block" [routerLink]="'/login'">
      Iniciar sesión
    </ion-button>
    <ion-button expand="block" fill="outline" color="light" [routerLink]="'/register'">
      Crear una cuenta
    </ion-button>
    
    <p class="terms-message">
      Al registrarte, aceptas los <a href="#">Términos de Servicio</a> y la <a href="#">Política de privacidad</a>.
    </p>
  </div>
</ion-content>
